@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 160px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 30px;
}
